.LoginPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .LoginPage-container {
    width: 540px;
    padding: 40px 42px;
    background: white;
    border-radius: 15px;
    border-top: 2px solid coral;
    border-left: 2px solid lightcoral;
    border-right: 2px solid lightcoral;
    border-bottom: 2px solid coral;

    .LoginPage-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .LoginPage-link {
      margin-top: 24px;
      margin-bottom: 24px;
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
  }
}
